@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    
margin: 0;
padding: 0;
box-sizing: border-box;
}
html {
    font-size: 10px;

}
body {
    background-image: url(/testimonials-background.png);
    background-position: 0 1000px;
    font-family: "Roboto",sans-serif;
   background-size: cover;
}

.container {
    width: 900px;
    height: 850px;
    margin: 0 auto;
    padding: 5rem;
    margin-top: 4rem;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    text-align: center;
   
    /* background-image: url(https://cdn.pixabay.com/photo/2015/04/16/08/48/grid-725271_960_720.jpg);
     */
  background-image: url(/contact-background.png);
  
}
img{
    width: 400px;
    height: 500px;
    border-radius: 30%;
}
ul{
    list-style: none;
}
h1{
    font-size: 5rem;
    font-weight: 1000px;
    color: rgb(236, 234, 226);
    font-style: initial;
}
h2 {
    font-size: 4rem;
    font-weight: 1000px;
    color: white;
}
li{
    font-size:20px ;
    font-weight: 600px;
    color: white;
}
a{
    font-size:20px ;
    color: white;
}
h3{
    font-size: 20px;
    color: white;
}